*~
*.pyc
_gitmsg.saved.txt
external/dftd3/origin
external/dftd3/status
external/gbsa/origin
external/gbsa/status
external/slakos/origin
external/slakos/status
custom.cmake
__pycache__
.idea
tools/dptools/build
.nfs*
_build*
DFTBPVS/x64/Debug/*.obj
DFTBPVS/x64/Debug/*.mod
DFTBPVS/x64/Debug/*.exe
